
h1 {
  font-size: 16px;
  font-family: Helvetica;
  font-style: normal;
  color: #000066;
  text-align: left;
  text-decoration: underline;
}

.callback {
  background-color:#e6e6ff;
  border: 2px solid;
  width: 200px;
  height: auto;
  border-radius: 5px;
  color: #888;
  font-family: Helvetica;
  font-size: 10px;
}

.field {
  text-align: left;
}

.button {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.but-input {
  background-color:#ccccff;
  font-size: 12px;
  font-family: Helvetica;
}
