body {
   background-image: url(".././img/stucco-texture.jpg");
   font-family: Tahoma;
   font-style: italic;
   color: #000066
    }

header {
  display: flex;
  text-align: center;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-image: url(".././img/stucco-texture.jpg");
  border: 2px solid #000066;
 }

header div {
  flex: auto;
}

main {
  display: flex;
  padding-top: 140px;
}

.left-section {
  flex: 25%;
  padding-top: 20px;
  font-size: 14px;
}

aside img {
  width: 150px;
  padding: 10px;
}

aside, form {
  width: 200px;
}

.hot-offers {
  flex: 50%;
  padding: 10px;
}

.offer-row1, .offer-row2, .offer-row3 {
  display: flex;
  justify-content: space-around;
  padding-bottom: 40px;
  color: #cc0000;
}

.offer-row1 div, .offer-row2 div, .offer-row3 div {
  border: 2px solid #000066;
  border-radius: 10px;
  width: 400px;
  height: 400px;
  text-align: center;
}

.hot-offers img {
max-height: 350px;
}

.news {
  flex: 25%;
  padding: 10px;
}

footer {
  display: flex;
}

.partners {
  flex: 80%;
  padding: 10px;
}

.share {
  flex: 20%;
  padding: 10px;
}

h1 {
     font-size: 16px;
     }

h2 {
    font-size: 15px;
  }

h3 {
    font-size: 14px;
    }

p, ul, ol {
  font-size: 12px;
  text-align: justify;
  font-style: normal;
}

address {
  font-size: 14px;
  text-align: left;
  padding-left: 25px;
}

.copyright {
  font-size: 10px;
  text-align: right;
}

.partner {
  height: 50px;
}

.contact, .social {
  width: 50px;
}

.gif {
    width: 100px;
    height: 100px;
  }

.callback {
border: 2px solid;
border-radius: 10px;
background: #f0f0f5;
}

.button {
  padding-left: 20px;
  padding-top: 10px;
}

.search {
  border: 2px solid;
  border-radius: 10px;
}
